body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#containerTop {
    display: block;
}

#containerTop img {
    margin-left: 10px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: inline-end;
    
}

#containerTop p {
    font-size: 18px;
    float: center;
}